@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .verticalTimelineDate {
    color: white;
  }
}
:root {
  --daphne-blue: #00bcee;
  --daphne-blue-dark: #000000;
  --sonic-blue: #81d7f7;
  --gray-blue: #788ca7;
  --shadowfax-white: #dee4e5;
  --misty-gray: #9ea4a5;
  --raven-black: #111;
}
